* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}

body {
    background-color: #211f1f;
    color: #333;
    line-height: 1.6;
}

.vision-bg {
    width: 100%;
    height: auto; /* ปรับความสูงได้ */
    background-size: cover;
    background-position: center;
}

.container2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container3 {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #f9f9f9;
}

.slogan {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Policy Section */

.policies-img {
    display: block;
    height: auto;
    width: 100%;
}

.container1 {
    margin: auto;
    position: relative;
}

.hotspot {
    position: absolute;
    border: 1px solid red; /* ปลดคอมเมนต์บรรทัดนี้เพื่อดูตำแหน่งตอนจัดวาง */
    cursor: pointer;
}

.top {
    top: 60%; 
    left: 70%; 
    width: 14%; 
    height: 25%;
}

/* กำหนดตำแหน่งทีละกรอบ (ตัวอย่างค่าสมมติ) */
.frameone {
    top: 53%; 
    left: 9%; 
    width: 14%; 
    height: 25%;
}

.frametwo {
    top: 16.5%; 
    left: 14.5%; 
    width: 16%; 
    height: 31%;
    border-radius: 50%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.framethree {
    top: 10%; 
    left: 36%; 
    width: 23.5%; 
    height: 20%;
}

.framefour {
    top: 15%; 
    left: 68%; 
    width: 16%; 
    height: 29%;
    border-radius: 51%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.framefive {
    top: 48%; 
    left: 77.5%; 
    width: 16%; 
    height: 31%;
    border-radius: 51%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.poli {
    top: 115%; 
    left: 70%; 
    width: 23.5%; 
    height: 20%;
}

/* Member Section */
.member-section {
    padding: 60px 0;
    background: #211f1f;
}

.member-card {
    background: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.member-card:hover {
    transform: translateY(-5px);
}

/* LAYOUT LOGIC: Desktop & Landscape (รูปซ้าย ข้อความขวา) */
.member-layout {
    display: flex;
    flex-direction: row; /* แนวนอน */
}

.member-image {
    flex: 1;
}

.member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.member-info {
    font-family: "Itim", cursive;
    flex: 2;
    padding: 40px;
}

.class {
    font-family: "Itim", cursive;
    color: #333;
    font-weight: bold;
}

.role {
    color: #c62828;
    font-weight: bold;
    margin-bottom: 15px;
}

.bio {
    margin-bottom: 20px;
}

.contact i {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #CD0404;
}

/* Footer */
.footer {
    background: #211f1f;
    color: white;
    text-align: center;
}

.social-footer i {
    font-size: 2rem;
    margin: 20px 10px;
    cursor: pointer;
}

.copyright {
    font-size: 0.8rem;
    opacity: 0.7;
}

.poli-img {
    width: 100%;
    height: auto;
    display: block;
}